* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
html,
body {
  background: linear-gradient(#bc597a, #ffba81) fixed;
}
.Timetable {
  position: relative;
  display: block;
  padding: 20px;
}
.Timetable tr {
  background: #2b173e;
}
.Timetable tr:nth-child(even) {
  background: #2b173e;
}
.Timetable .Timetable__table {
  width: 100%;
  border-collapse: collapse;
}
.Timetable .Timetable__table td,
.Timetable .Timetable__table th {
  padding: 4px 2px;
}
.Timetable .Timetable__table th {
  font-weight: 300;
  height: 65px;
}
.Timetable .Timetable__table tbody th {
  border-right: 1px solid #2b173e;
}
.Timetable .Timetable__table tbody td {
  border: 1px solid #2b173e;
}
.Timetable .Timetable__table .Timetable__time,
.Timetable .Timetable__table .Timetable__room {
  background: #4f237a;
  color: #fff;
}
.Timetable .Timetable__table .Timetable__room {
  border-bottom: 1px solid #2b173e;
}
.Timetable .Timetable__table .Timetable__time th {
  width: 100px;
}
.Timetable thead tr {
  background: none;
}
.Timetable thead tr td,
.Timetable thead tr th {
  color: #fff;
  font-size: 1.5em;
}
a{
  text-decoration: none;
}
.Allocation{
  display: block;
  border-radius: 2px;
  background: #57b3e7;
  padding: 5px;
  text-align: center;
  box-shadow: rgba(0,0,0,0.34) 0 1px 3px;
  color: #fff;
  height: 65px;
}
.Allocation.please {
  background: #e77f3f;
}
.Allocation.bio {
  background: #68b546;
  color: #fff;
}
.Allocation.comp {
  background: rgb(123, 96, 243);
  color: #fff;
}
.Allocation.mds {
  background: #ff75c5;
  color: #fff;
}
.Allocation.recess {
  background: #ff774ede;
  color: #fff;
}
.Allocation.cns {
  background: hsla(61, 100%, 73%, 0.871);
  color: #fff;
}
.Allocation.rts {
  background: hsla(352, 100%, 55%, 0.871);
  color: #fff;
}
.Allocation.ml {
  background: hsla(27, 100%, 50%, 0.871);
  color: #fff;
}
.Allocation span {
  display: block;
  padding: 3px 0;
}

.Allocation span.Allocation__title {
  font-weight: 600;
}
